.pieChart-wrap {
  width: 100%;
  margin: 0 auto;
}

.vertical-label {
  transform: rotate(-90deg);
}

.pieChart-text-wrap {
  margin-top: 1rem;
  //   text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
  color: #fff;
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  .pieChart-wrap {
    width: 50%;
  }
}
