.tag-wrap {
  margin: 1rem auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.tag-inside-wrap {
  width: 45%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  // place-items: center;
  .bar {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    p {
      padding-left: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
.tag-img-wrap {
  width: 45%;
  img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .tag-wrap {
    width: 500px;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(50%);
  }
  .tag-inside-wrap {
    gap: 0.7rem;
  }
}
