.vote-view-wrap {
  width: 100%;
  //   display: flex;
  background: linear-gradient(90deg, #2b5876 0%, #4e4376 100%);
  overflow: hidden;
}
.map-wrap {
  width: 30%;
  background-color: transparent;
}

.chart-wrap {
  width: 70%;
}
